<%- include('./layout/cabecera.ejs') %>

<div class="container mt-4">
    <div class="row">

        <!-- EL FOR ES PARA RECORRER LA LISTA DE PRODUCTOS DISPONIBLES -->
        <!-- Y YA EN BASE A ELLO SOLO SE VA HABLANDO CON UN < % = productos[producto].imagen %> -->
        <% for (let producto = 0; producto < productos.length; producto++) { %> 
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <img src="<%= productos[producto].imagen %>" class="img-fluid" alt="<%= productos[producto].nombre %>" style="max-height: 400px; object-fit: cover;">
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-between">
                            <div class="card-body">
                                <h5 class="card-title"><%= productos[producto].nombre %></h5>
                                <p class="card-text"><strong>Precio: $<%= productos[producto].precio %></strong></p>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary me-2">Agregar al carrito</a>
                                    <a href="#" class="btn btn-secondary">Agregar a Favoritos</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted"><%= productos[producto].descripcion %></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Y AQUI SE CIERRA EL FOR -->
        <% } %>
    </div>
</div>



<!-- GRAFICA DE HISTÓRICOS -->
<div class="container">
    <h3>Históricos</h3>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script src="/javascripts/toallas_humedas.js"></script>
</div>

